In [48]:
import numpy as np
import pandas as pd 
import os
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from itertools import product
!pip install kmodes

Requirement already satisfied: kmodes in c:\users\mique\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: scipy>=0.13.3 in c:\users\mique\anaconda3\lib\site-packages (from kmodes) (1.5.2)
Requirement already satisfied: numpy>=1.10.4 in c:\users\mique\anaconda3\lib\site-packages (from kmodes) (1.19.2)
Requirement already satisfied: scikit-learn>=0.22.0 in c:\users\mique\anaconda3\lib\site-packages (from kmodes) (0.23.2)
Requirement already satisfied: joblib>=0.11 in c:\users\mique\anaconda3\lib\site-packages (from kmodes) (0.17.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\mique\anaconda3\lib\site-packages (from scikit-learn>=0.22.0->kmodes) (2.1.0)

In [66]:
#we will first check for all columns which have null valuues
missing_values = ['    ', 'NA', 'N/A', 'NaN', 'nan', 'NULL', 'null', 'None', 'none']
variables=pd.read_csv('DATA/Dades_ministeri_transport.csv')
# Replace whitespace characters with NaN in the "discharge_date" column
df=variables
# List of columns where you want to replace whitespace characters with NaN
columns_to_clean = df.columns.tolist()
  # Add all relevant column names here

# Replace whitespace characters with NaN in the specified columns
#for col in columns_to_clean:
    #variables[col] = variables[col].replace(r'^\s*$', np.nan, regex=True)
def clean_whitespace(value):
    if isinstance(value, str):
        return value.strip() if value.strip() else np.nan
    return value

# Apply the cleaning function to every element in the DataFrame with applymap
df = df.applymap(clean_whitespace)
    
#variables['discharge_date'] = variables['discharge_date'].replace(r'^\s*$', np.nan, regex=True)
df.info()
#variables =variables[variables["contract_type"] == 401]
#variables["diagnoses_code"].str.strip()
#variables[variables["diagnoses_code"].iseq("")]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 411103 entries, 0 to 411102
Data columns (total 58 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   accident_type                          411103 non-null  int64
 1   gender                                 411103 non-null  int64
 2   nationality                            411103 non-null  int64
 3   work_situation                         411103 non-null  int64
 4   main_occupation                        411103 non-null  int64
 5   seniority_in_the_job_months            411103 non-null  int64
 6   seniority_in_the_job_days              411103 non-null  int64
 7   contract_type                          411103 non-null  int64
 8   social_security_regime                 411103 non-null  int64
 9   economic_activity_center               411103 non-null  int64
 10  number_workers_center                  411103 non-null  int64
 11  province_enterprise                    411103 non-null  int64
 12  contract_subcontract                   411103 non-null  int64
 13  ETT                                    411103 non-null  int64
 14  personal_assumption                    411103 non-null  int64
 15  own_service                            411103 non-null  int64
 16  foreign_prevention_service             411103 non-null  int64
 17  designated_workers                     411103 non-null  int64
 18  joint_service                          411103 non-null  int64
 19  none_preventive_organization           411103 non-null  int64
 20  accident_place                         411103 non-null  int64
 21  traffic_accident                       411103 non-null  int64
 22  center_belongs_worker_social_security  411103 non-null  int64
 23  center_where_worker_affiliated         411103 non-null  int64
 24  contract_subcontract_relationship      411103 non-null  int64
 25  ETT_relationship                       411103 non-null  int64
 26  other_relations                        411103 non-null  int64
 27  province                               411103 non-null  int64
 28  workers                                411103 non-null  int64
 29  economic_activity_type                 411103 non-null  int64
 30  date_accident                          411103 non-null  int64
 31  date_medical_leave                     411103 non-null  int64
 32  week_day                               411103 non-null  int64
 33  time_day                               411103 non-null  int64
 34  time_workday                           411103 non-null  int64
 35  was_usual_job                          411103 non-null  int64
 36  risk_evaluation                        411103 non-null  int64
 37  place_type                             411103 non-null  int64
 38  job_type                               411103 non-null  int64
 39  specific_physical_activity             411103 non-null  int64
 40  material_physical_activity             411103 non-null  int64
 41  deviation                              411103 non-null  int64
 42  Material_deviation                     411103 non-null  int64
 43  contact_caused_injury                  411103 non-null  int64
 44  material_contact                       411103 non-null  int64
 45  affected_more_workers                  411103 non-null  int64
 46  injury_description                     411103 non-null  int64
 47  injury_severity                        411103 non-null  int64
 48  injured_body_part                      411103 non-null  int64
 49  assistance_type                        411103 non-null  int64
 50  hospitalization                        411103 non-null  int64
 51  daily_temporary_disability_subsidy     411103 non-null  float64
 52  injury_severity_discharged             386639 non-null  object
 53  discharge_date                         387121 non-null  object
 54  diagnoses_code                         385676 non-null  object
 55  leave_duration                         411103 non-null  int64
 56  age                                    411103 non-null  int64
 57  year_accident                          411103 non-null  int64
dtypes: float64(1), int64(54), object(3)
memory usage: 181.9+ MB

In [67]:
#Now we are going to create columns with the dates in the correct format
def convert_to_datetime(row):
    converted_dates = []
    for col in ['date_accident', 'date_medical_leave', 'discharge_date']:
        int_date_str = str(row[col])
        day = int_date_str[:-6]
        month = int_date_str[-6:-4]
        year = int_date_str[-4:]
        try:
            converted_date = pd.to_datetime(f"{day}/{month}/{year}", format='%d/%m/%Y')
        except ValueError:
            converted_date = pd.NaT
        converted_dates.append(converted_date)
    return pd.Series(converted_dates, index=['DateColumn_accident', 'DateColumn_medical_leave', 'DateColumn_discharge'])

# Apply the function to each row
df[['DateColumn_accident', 'DateColumn_medical_leave', 'DateColumn_discharge']] = df.apply(convert_to_datetime, axis=1)
df

,accident_type,gender,nationality,work_situation,main_occupation,seniority_in_the_job_months,seniority_in_the_job_days,contract_type,social_security_regime,economic_activity_center,...,daily_temporary_disability_subsidy,injury_severity_discharged,discharge_date,diagnoses_code,leave_duration,age,year_accident,DateColumn_accident,DateColumn_medical_leave,DateColumn_discharge
0,1,1,724,1,843,36,0,100,1,494,...,36.98,1,4122017,9590,63,32,2017,2017-10-03,2017-10-03,2017-12-04
1,1,1,170,1,841,0,8,401,1,494,...,43.81,1,17092017,85221,40,43,2017,2017-08-09,2017-08-09,2017-09-17
2,1,1,724,1,843,4,0,189,1,494,...,31.61,1,2052017,84502,14,32,2017,2017-04-19,2017-04-19,2017-05-02
3,1,1,724,1,841,14,0,289,1,471,...,20.09,1,2092017,7242,3,32,2017,2017-08-30,2017-08-31,2017-09-02
4,1,1,724,1,843,25,0,502,1,494,...,18.54,1,5012018,84200,65,32,2017,2017-11-02,2017-11-02,2018-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
411098,1,1,100,1,843,149,0,189,1,494,...,36.25,2,27092020,80709,111,58,2020,2020-06-09,2020-06-09,2020-09-27
411099,1,1,604,1,844,8,0,200,1,561,...,9.45,1,4102020,9221,3,50,2020,2020-09-30,2020-10-02,2020-10-04
411100,1,1,642,1,843,160,0,100,1,172,...,40.13,1,16082020,81501,115,38,2020,2020-04-24,2020-04-24,2020-08-16
411101,1,1,642,1,832,48,0,100,1,16,...,40.82,1,10072020,9230,23,32,2020,2020-06-18,2020-06-18,2020-07-10
411102,1,1,586,1,841,1,0,501,1,532,...,16.40,1,31012020,8472,8,47,2020,2020-01-24,2020-01-24,2020-01-31

In [59]:
#df[['date_accident', 'date_medical_leave', 'discharge_date','DateColumn_accident', 'DateColumn_medical_leave', 'DateColumn_discharge']]
variables=df[['gender','work_situation','main_occupation','seniority_in_the_job_months','age','province','workers','economic_activity_type','DateColumn_accident','week_day','time_workday','place_type','job_type','injury_severity']]
variables.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 411103 entries, 0 to 411102
Data columns (total 14 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   gender                       411103 non-null  int64
 1   work_situation               411103 non-null  int64
 2   main_occupation              411103 non-null  int64
 3   seniority_in_the_job_months  411103 non-null  int64
 4   age                          411103 non-null  int64
 5   province                     411103 non-null  int64
 6   workers                      411103 non-null  int64
 7   economic_activity_type       411103 non-null  int64
 8   DateColumn_accident          411103 non-null  datetime64[ns]
 9   week_day                     411103 non-null  int64
 10  time_workday                 411103 non-null  int64
 11  place_type                   411103 non-null  int64
 12  job_type                     411103 non-null  int64
 13  injury_severity              411103 non-null  int64
dtypes: datetime64[ns](1), int64(13)
memory usage: 43.9 MB

In [68]:
variables = df[['gender', 'work_situation', 'main_occupation', 'seniority_in_the_job_months', 'age', 'province', 'workers', 'economic_activity_type', 'date_accident', 'week_day', 'time_workday', 'place_type', 'job_type', 'injury_severity']]

# Mapping for injury severity
injury_mapping = {
    1: 'mild',
    2: 'serious',
    3: 'very serious',
    4: 'mortal',
    '404': 'severity not known'
}
variables['injury_severity'] = variables['injury_severity'].map(injury_mapping).fillna('severity not known')

# Categorize age using labels directly
age_categories = ['16-25', '26-35', '36-45', '46-55', '+56', 'Age not known']
variables['age'] = pd.Categorical(variables['age'], categories=age_categories, ordered=True)

# Unique values in 'main_occupation' column
x = variables['main_occupation'].unique()
print(x)

# Frequency and percentage of 'main_occupation' values
value_counts = variables['main_occupation'].value_counts()
percentage = (value_counts / len(variables)) * 100
print(percentage)

[843 841 834 831 833 842 844 832]
843    47.237067
841    21.484640
833    11.261655
844     7.981455
842     6.407397
832     2.660161
831     1.635113
834     1.332513
Name: main_occupation, dtype: float64

<ipython-input-68-02fc5e2d03c8>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  variables['injury_severity'] = variables['injury_severity'].map(injury_mapping).fillna('severity not known')
<ipython-input-68-02fc5e2d03c8>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  variables['age'] = pd.Categorical(variables['age'], categories=age_categories, ordered=True)

In [69]:
df['Quarter'] = df['DateColumn_accident'].apply(lambda x: pd.Timestamp(x).quarter)
df

,accident_type,gender,nationality,work_situation,main_occupation,seniority_in_the_job_months,seniority_in_the_job_days,contract_type,social_security_regime,economic_activity_center,...,injury_severity_discharged,discharge_date,diagnoses_code,leave_duration,age,year_accident,DateColumn_accident,DateColumn_medical_leave,DateColumn_discharge,Quarter
0,1,1,724,1,843,36,0,100,1,494,...,1,4122017,9590,63,32,2017,2017-10-03,2017-10-03,2017-12-04,4
1,1,1,170,1,841,0,8,401,1,494,...,1,17092017,85221,40,43,2017,2017-08-09,2017-08-09,2017-09-17,3
2,1,1,724,1,843,4,0,189,1,494,...,1,2052017,84502,14,32,2017,2017-04-19,2017-04-19,2017-05-02,2
3,1,1,724,1,841,14,0,289,1,471,...,1,2092017,7242,3,32,2017,2017-08-30,2017-08-31,2017-09-02,3
4,1,1,724,1,843,25,0,502,1,494,...,1,5012018,84200,65,32,2017,2017-11-02,2017-11-02,2018-01-05,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
411098,1,1,100,1,843,149,0,189,1,494,...,2,27092020,80709,111,58,2020,2020-06-09,2020-06-09,2020-09-27,2
411099,1,1,604,1,844,8,0,200,1,561,...,1,4102020,9221,3,50,2020,2020-09-30,2020-10-02,2020-10-04,3
411100,1,1,642,1,843,160,0,100,1,172,...,1,16082020,81501,115,38,2020,2020-04-24,2020-04-24,2020-08-16,2
411101,1,1,642,1,832,48,0,100,1,16,...,1,10072020,9230,23,32,2020,2020-06-18,2020-06-18,2020-07-10,2
411102,1,1,586,1,841,1,0,501,1,532,...,1,31012020,8472,8,47,2020,2020-01-24,2020-01-24,2020-01-31,1

In [72]:
#df.to_csv('DATA\Transport_data_clean.csv', index=False)

In [70]:

categorical = ['gender','main_occupation','seniority_in_the_job_months','age','province','workers','economic_activity_type','date_accident','week_day','time_workday','place_type','job_type','injury_severity','DateColumn_accident']
import pandas as pd
import itertools 

#Create a list of diferent combinations of 3 variables of the given variables in categorical
combinations = list(itertools.combinations(categorical, 3))

# Load the dataset into a Pandas DataFrame

#Create a dictonary that has the results for each combination of variables

dic={}

# Count the number of occurrences of each unique combination of values
for combination in combinations:
    counts = df.groupby(list(combination)).size().reset_index(name='count')
    counts['percentage %'] = counts['count'] / df.shape[0] * 100

    # Get the top 10 combinations of values that are the most repeated in the dataset
    top_counts = counts.sort_values('count', ascending=False).head(10)
    dic[tuple(combination)]=counts.sort_values('count', ascending=False)
dic3=dic
# It gives the combinations of values that are freqüent in more that 10 percent of all the accidents.
for key, value in dic.items():
    condition = value.iloc[:, -1] > 10
    result = value[condition]
    
    if not result.empty:
        print(result)
        print('-----------------------------------------------------')

      gender  main_occupation  economic_activity_type   count  percentage %
1075       1              843                     494  100593      24.46905
-----------------------------------------------------
     gender  main_occupation  place_type  count  percentage %
272       1              843          13  76762     18.672206
-----------------------------------------------------
     gender  main_occupation  job_type  count  percentage %
195       1              843        12  62956     15.313924
224       1              843        61  49257     11.981669
-----------------------------------------------------
    gender  main_occupation  injury_severity   count  percentage %
24       1              843                1  188400     45.827931
16       1              841                1   81149     19.739335
8        1              833                1   43527     10.587858
-----------------------------------------------------
     gender  province  injury_severity  count  percentage %
107       1        28                1  55502     13.500753
28        1         8                1  44128     10.734050
-----------------------------------------------------
      gender  economic_activity_type  place_type  count  percentage %
2582       1                     494          13  49988     12.159483
-----------------------------------------------------
     gender  economic_activity_type  injury_severity   count  percentage %
381       1                     494                1  115523     28.100744
-----------------------------------------------------
    gender  week_day  injury_severity  count  percentage %
0        1         1                1  77157     18.768289
4        1         2                1  71745     17.451831
8        1         3                1  67175     16.340187
16       1         5                1  64342     15.651066
12       1         4                1  63219     15.377898
-----------------------------------------------------
    gender  time_workday  injury_severity  count  percentage %
8        1             2                1  69148     16.820116
12       1             3                1  59341     14.434582
4        1             1                1  57106     13.890923
16       1             4                1  51253     12.467192
-----------------------------------------------------
     gender  place_type  job_type  count  percentage %
105       1          13        12  67876     16.510704
708       1          61        61  57359     13.952464
741       1          62        61  44424     10.806051
-----------------------------------------------------
    gender  place_type  injury_severity   count  percentage %
11       1          13                1  108895     26.488496
91       1          61                1   89351     21.734456
95       1          62                1   56238     13.679783
3        1          11                1   42146     10.251932
-----------------------------------------------------
     gender  job_type  injury_severity   count  percentage %
103       1        61                1  128396     31.232076
8         1        12                1   97468     23.708900
-----------------------------------------------------
      main_occupation  economic_activity_type  place_type  count  percentage %
8431              843                     494          13  44701     10.873431
-----------------------------------------------------
      main_occupation  economic_activity_type  injury_severity  count  \
1664              843                     494                1  99053

      percentage %
1664     24.094448
-----------------------------------------------------
      main_occupation  place_type  job_type  count  percentage %
3154              843          13        12  45306     11.020596
-----------------------------------------------------
     main_occupation  place_type  injury_severity  count  percentage %
497              843          13                1  76355     18.573204
-----------------------------------------------------
     main_occupation  job_type  injury_severity  count  percentage %
390              843        12                1  62707     15.253355
471              843        61                1  47802     11.627743
-----------------------------------------------------
      economic_activity_type  place_type  injury_severity  count  percentage %
3382                     494          13                1  49886     12.134672
-----------------------------------------------------
      place_type  job_type  injury_severity  count  percentage %
173           13        12                1  68590     16.684383
1170          61        61                1  60105     14.620424
1240          62        61                1  45491     11.065597
-----------------------------------------------------

In [87]:
import pandas as pd
import itertools 

categorical = ['gender','main_occupation','seniority_in_the_job_months','age','province','workers','economic_activity_type','date_accident','week_day','time_workday','place_type','job_type','injury_severity','date']

#Create a list of diferent combinations of 4 variables of the given variables in categorical
combinations = list(itertools.combinations(categorical, 4))

# Load the dataset into a Pandas DataFrame
df = variables

#Create a dictonary of the top 10 counts for each combination

dic={}

# Count the number of occurrences of each unique combination of values
for combination in combinations:
    counts = df.groupby(list(combination)).size().reset_index(name='count')
    counts['percentage %'] = counts['count'] / df.shape[0] * 100

    # Get the top 10 combinations of values that are the most repeated in the dataset
    top_counts = counts.sort_values('count', ascending=False).head(10)
    dic[tuple(combination)]=counts.sort_values('count', ascending=False)
dic4=dic 
# It gives the combinations of 4 values that are freqüent in more that 5 percent of all the accidents.
for key, value in dic.items():
    condition = value.iloc[:, -1] > 5
    result = value[condition]
    
    if not result.empty:
        print(result)
        print('-----------------------------------------------------')

      gender  main_occupation    age  economic_activity_type  count  \
2336       1              843  36-45                     494   8239
2510       1              843  46-55                     494   7943

      percentage %
2336      8.832074
2510      8.514767
-----------------------------------------------------
     gender  main_occupation    age  place_type  count  percentage %
902       1              843  36-45          13   6393      6.853192
949       1              843  46-55          13   6017      6.450126
-----------------------------------------------------
     gender  main_occupation    age  job_type  count  percentage %
754       1              843  36-45        12   5438      5.829447
785       1              843  46-55        12   4764      5.106930
-----------------------------------------------------
     gender  main_occupation    age injury_severity  count  percentage %
102       1              843  36-45            mild  15067     16.151578
106       1              843  46-55            mild  14160     15.179289
98        1              843  26-35            mild   6300      6.753497
68        1              841  36-45            mild   6062      6.498365
91        1              843    +56            mild   5647      6.053492
64        1              841  26-35            mild   4705      5.043683
-----------------------------------------------------
      gender  main_occupation  economic_activity_type  week_day  count  \
3002       1              843                     494         1   5041

      percentage %
3002       5.40387
-----------------------------------------------------
      gender  main_occupation  economic_activity_type  place_type  count  \
4294       1              843                     494          13  10501

      percentage %
4294     11.256901
-----------------------------------------------------
      gender  main_occupation  economic_activity_type  job_type  count  \
4277       1              843                     494        12   8217
4301       1              843                     494        61   7063

      percentage %
4277      8.808490
4301      7.571421
-----------------------------------------------------
      gender  main_occupation  economic_activity_type injury_severity  count  \
1019       1              843                     494            mild  22451
758        1              842                     493            mild   4690

      percentage %
1019     24.067106
758       5.027604
-----------------------------------------------------
     gender  main_occupation  week_day injury_severity  count  percentage %
125       1              843         1            mild   9466     10.147398
129       1              843         2            mild   7992      8.567294
133       1              843         3            mild   7557      8.100981
137       1              843         4            mild   7118      7.630380
141       1              843         5            mild   7028      7.533901
-----------------------------------------------------
     gender  main_occupation  time_workday injury_severity  count  \
248       1              843             2            mild   6848
256       1              843             4            mild   5996
252       1              843             3            mild   5911
244       1              843             1            mild   5758

     percentage %
248      7.340944
256      6.427614
252      6.336496
244      6.172482
-----------------------------------------------------
      gender  main_occupation  place_type  job_type  count  percentage %
1819       1              843          13        12  10436     11.187222
2531       1              844          61        61   4759      5.101570
-----------------------------------------------------
     gender  main_occupation  place_type injury_severity  count  percentage %
347       1              843          13            mild  17370     18.620357
399       1              843          61            mild   6570      7.042933
255       1              841          61            mild   5918      6.344000
403       1              843          62            mild   5316      5.698665
457       1              844          61            mild   5208      5.582891
-----------------------------------------------------
     gender  main_occupation  job_type injury_severity  count  percentage %
278       1              843        12            mild  14464     15.505172
340       1              843        61            mild  10531     11.289060
371       1              844        61            mild   7096      7.606796
226       1              841        61            mild   6705      7.187651
-----------------------------------------------------
      gender    age  economic_activity_type injury_severity  count  \
929        1  36-45                     494            mild   9527
1248       1  46-55                     494            mild   8731

      percentage %
929      10.212789
1248      9.359490
-----------------------------------------------------
     gender    age  week_day injury_severity  count  percentage %
74        1  36-45         1            mild   6377      6.836040
101       1  46-55         1            mild   5366      5.752265
78        1  36-45         2            mild   5296      5.677226
82        1  36-45         3            mild   5112      5.479981
86        1  36-45         4            mild   4753      5.095139
-----------------------------------------------------
     gender    age  time_workday injury_severity  count  percentage %
166       1  36-45             2            mild   4895       5.24736
-----------------------------------------------------
      gender    age  place_type  job_type  count  percentage %
1429       1  36-45          13        12   5802      6.219649
2119       1  46-55          13        12   4787      5.131586
-----------------------------------------------------
     gender    age  place_type injury_severity  count  percentage %
240       1  36-45          13            mild   9061      9.713244
332       1  46-55          13            mild   7867      8.433296
282       1  36-45          61            mild   5807      6.225009
390       1  46-55          61            mild   4794      5.139090
198       1  26-35          61            mild   4699      5.037251
-----------------------------------------------------
     gender    age  job_type injury_severity  count  percentage %
242       1  36-45        61            mild   8446      9.053974
184       1  36-45        12            mild   8352      8.953208
325       1  46-55        61            mild   7355      7.884440
259       1  46-55        12            mild   6742      7.227314
169       1  26-35        61            mild   6484      6.950742
111       1  16-25        61            mild   4920      5.274160
-----------------------------------------------------
      gender  province  place_type injury_severity  count  percentage %
1215       1        28          61            mild   4893      5.245216
-----------------------------------------------------
      gender  province  job_type injury_severity  count  percentage %
1074       1        28        61            mild   5830      6.249665
-----------------------------------------------------
      gender  economic_activity_type  week_day injury_severity  count  \
1130       1                     494         1            mild   5881
1134       1                     494         2            mild   5078
1138       1                     494         3            mild   4762

      percentage %
1130      6.304336
1134      5.443533
1138      5.104786
-----------------------------------------------------
      gender  economic_activity_type  place_type  job_type  count  \
5623       1                     494          13        12   7039

      percentage %
5623      7.545693
-----------------------------------------------------
      gender  economic_activity_type  place_type injury_severity  count  \
1884       1                     494          13            mild  11740

      percentage %
1884     12.585089
-----------------------------------------------------
      gender  economic_activity_type  job_type injury_severity  count  \
1848       1                     494        12            mild   9571
1902       1                     494        61            mild   8034
1835       1                     493        61            mild   5892

      percentage %
1848     10.259956
1902      8.612317
1835      6.316128
-----------------------------------------------------
    gender  week_day  place_type injury_severity  count  percentage %
8        1         1          13            mild   5742      6.155330
96       1         2          13            mild   4893      5.245216
-----------------------------------------------------
     gender  week_day  job_type injury_severity  count  percentage %
56        1         1        61            mild   5409      5.798360
329       1         5        61            mild   5243      5.620411
4         1         1        12            mild   5235      5.611835
122       1         2        61            mild   4916      5.269872
190       1         3        61            mild   4738      5.079059
-----------------------------------------------------
     gender  time_workday  job_type injury_severity  count  percentage %
160       1             2        61            mild   5283      5.663290
228       1             3        61            mild   4745      5.086563
-----------------------------------------------------
     gender  place_type  job_type injury_severity  count  percentage %
124       1          13        12            mild  15913     17.058477
754       1          61        61            mild  13348     14.308839
809       1          62        61            mild  10360     11.105751
-----------------------------------------------------
      main_occupation    age  economic_activity_type injury_severity  count  \
2771              843  36-45                     494            mild   8147
3001              843  46-55                     494            mild   7835

      percentage %
2771      8.733451
3001      8.398992
-----------------------------------------------------
      main_occupation    age  place_type injury_severity  count  percentage %
1189              843  36-45          13            mild   6383      6.842472
1268              843  46-55          13            mild   5986      6.416894
-----------------------------------------------------
      main_occupation    age  job_type injury_severity  count  percentage %
1020              843  36-45        12            mild   5442      5.833735
1085              843  46-55        12            mild   4752      5.094067
-----------------------------------------------------
      main_occupation  economic_activity_type  week_day injury_severity  \
3513              843                     494         1            mild

      count  percentage %
3513   4977      5.335263
-----------------------------------------------------
       main_occupation  economic_activity_type  place_type  job_type  count  \
11413              843                     494          13        12   6131

       percentage %
11413      6.572332
-----------------------------------------------------
      main_occupation  economic_activity_type  place_type injury_severity  \
4798              843                     494          13            mild

      count  percentage %
4798  10439     11.190438
-----------------------------------------------------
      main_occupation  economic_activity_type  job_type injury_severity  \
4787              843                     494        12            mild
4838              843                     494        61            mild

      count  percentage %
4787   8182      8.770971
4838   6830      7.321649
-----------------------------------------------------
      main_occupation  place_type  job_type injury_severity  count  \
2090              843          13        12            mild  10405
2960              844          61        61            mild   4958

      percentage %
2090     11.153990
2960      5.314895
-----------------------------------------------------
        age  place_type  job_type injury_severity  count  percentage %
1650  36-45          13        12            mild   5912      6.337568
2484  46-55          13        12            mild   4823      5.170177
-----------------------------------------------------
      economic_activity_type  place_type  job_type injury_severity  count  \
6051                     494          13        12            mild   7050

      percentage %
6051      7.557485
-----------------------------------------------------

In [88]:
import pandas as pd
import itertools 

#Create a list of diferent combinations of 6 variables of the given variables in categorical
combinations = list(itertools.combinations(categorical, 6))

# Load the dataset into a Pandas DataFrame
df = variables

#Create a dictonary of the top 10 counts for each combination

dic={}

# Count the number of occurrences of each unique combination of values
for combination in combinations:
    counts = df.groupby(list(combination)).size().reset_index(name='count')
    counts['percentage %'] = counts['count'] / df.shape[0] * 100

    # Get the top 10 combinations of values that are the most repeated in the dataset
    top_counts = counts.sort_values('count', ascending=False).head(10)
    dic[tuple(combination)]=counts.sort_values('count', ascending=False)
dic6=dic   
# It gives the combinations of 6 values that are freqüent in more that 1 percent of all the accidents.
for key, value in dic.items():
    condition = value.iloc[:, -1] > 1
    result = value[condition]
    
    if not result.empty:
        print(result)
        print('-----------------------------------------------------')

      gender  main_occupation    age  economic_activity_type  week_day  \
7907       1              843  36-45                     494         1
8669       1              843  46-55                     494         1
7911       1              843  36-45                     494         2
8672       1              843  46-55                     494         2
7915       1              843  36-45                     494         3
8676       1              843  46-55                     494         3
7919       1              843  36-45                     494         4
8684       1              843  46-55                     494         5
7923       1              843  36-45                     494         5
8680       1              843  46-55                     494         4

     injury_severity  count  percentage %
7907            mild   1820      1.951010
8669            mild   1688      1.809508
7911            mild   1521      1.630487
8672            mild   1449      1.553304
7915            mild   1447      1.551160
8676            mild   1376      1.475050
7919            mild   1371      1.469690
8684            mild   1362      1.460042
7923            mild   1351      1.448250
8680            mild   1263      1.353915
-----------------------------------------------------
       gender  main_occupation    age  economic_activity_type  time_workday  \
10421       1              843  36-45                     494             2
11488       1              843  46-55                     494             2
10428       1              843  36-45                     494             4
10425       1              843  36-45                     494             3
11495       1              843  46-55                     494             4
10417       1              843  36-45                     494             1
11484       1              843  46-55                     494             1
11491       1              843  46-55                     494             3

      injury_severity  count  percentage %
10421            mild   1254      1.344268
11488            mild   1218      1.305676
10428            mild   1160      1.243501
10425            mild   1125      1.205982
11495            mild   1109      1.188830
10417            mild   1103      1.182398
11484            mild   1062      1.138447
11491            mild   1004      1.076272
-----------------------------------------------------
       gender  main_occupation    age  economic_activity_type  place_type  \
17601       1              843  36-45                     494          13
20128       1              843  46-55                     494          13
21069       1              844  16-25                     561          61

       job_type  count  percentage %
17601        12   2290      2.454843
20128        12   2082      2.231870
21069        61   1425      1.527577
-----------------------------------------------------
       gender  main_occupation    age  economic_activity_type  place_type  \
9233        1              843  36-45                     494          13
10244       1              843  46-55                     494          13
10647       1              844  16-25                     561          61
7345        1              843    +56                     494          13
8275        1              843  26-35                     494          13
10283       1              843  46-55                     494          62
9268        1              843  36-45                     494          62
9264        1              843  36-45                     494          61
10279       1              843  46-55                     494          61

      injury_severity  count  percentage %
9233             mild   3770      4.041379
10244            mild   3660      3.923460
10647            mild   1528      1.637991
7345             mild   1467      1.572600
8275             mild   1289      1.381787
10283            mild   1253      1.343196
9268             mild   1239      1.328188
9264             mild   1064      1.140591
10279            mild    948      1.016241
-----------------------------------------------------
       gender  main_occupation    age  economic_activity_type  job_type  \
9396        1              843  36-45                     494        12
10455       1              843  46-55                     494        12
10495       1              843  46-55                     494        61
9431        1              843  36-45                     494        61
10842       1              844  16-25                     561        61
6955        1              842  46-55                     493        61
6866        1              842  36-45                     493        61
8423        1              843  26-35                     494        12
10872       1              844  16-25                     563        61
10998       1              844  26-35                     561        61
7525        1              843    +56                     494        12
7567        1              843    +56                     494        61
8449        1              843  26-35                     494        61

      injury_severity  count  percentage %
9396             mild   3037      3.255615
10455            mild   2736      2.932947
10495            mild   2330      2.497722
9431             mild   2320      2.487002
10842            mild   1925      2.063569
6955             mild   1445      1.549016
6866             mild   1344      1.440746
8423             mild   1141      1.223133
10872            mild   1057      1.133087
10998            mild   1050      1.125583
7525             mild   1047      1.122367
7567             mild    997      1.068768
8449             mild    960      1.029104
-----------------------------------------------------
      gender  main_occupation    age  week_day  place_type injury_severity  \
3963       1              843  36-45         1          13            mild
4304       1              843  46-55         1          13            mild
4018       1              843  36-45         2          13            mild
4355       1              843  46-55         2          13            mild
4069       1              843  36-45         3          13            mild
4418       1              843  46-55         3          13            mild
4123       1              843  36-45         4          13            mild
4182       1              843  36-45         5          13            mild
4522       1              843  46-55         5          13            mild
4475       1              843  46-55         4          13            mild

      count  percentage %
3963   1482      1.588680
4304   1305      1.398939
4018   1250      1.339980
4355   1129      1.210270
4069   1120      1.200622
4418   1071      1.148095
4123   1059      1.135231
4182   1041      1.115935
4522   1030      1.104143
4475    988      1.059120
-----------------------------------------------------
      gender  main_occupation    age  week_day  job_type injury_severity  \
3704       1              843  36-45         1        12            mild
3745       1              843  36-45         2        12            mild
3976       1              843  46-55         1        12            mild
3788       1              843  36-45         3        12            mild

      count  percentage %
3704   1263      1.353915
3745   1056      1.132015
3976   1051      1.126655
3788    987      1.058048
-----------------------------------------------------
      gender  main_occupation    age  time_workday  place_type  \
5285       1              843  36-45             2          13
6310       1              844  16-25             3          61
5235       1              843  36-45             1          13
5795       1              843  46-55             2          13

     injury_severity  count  percentage %
5285            mild   1059      1.135231
6310            mild    977      1.047328
5235            mild    966      1.035536
5795            mild    966      1.035536
-----------------------------------------------------
      gender  main_occupation    age  time_workday  job_type injury_severity  \
5979       1              844  16-25             2        61            mild
5996       1              844  16-25             3        61            mild
5106       1              843  36-45             2        12            mild

      count  percentage %
5979   1238      1.327116
5996   1189      1.274589
5106    941      1.008737
-----------------------------------------------------
      gender  main_occupation    age  place_type  job_type injury_severity  \
5310       1              843  36-45          13        12            mild
5902       1              843  46-55          13        12            mild
6491       1              844  16-25          61        61            mild
4909       1              843  26-35          13        12            mild
6597       1              844  26-35          61        61            mild
4351       1              843    +56          13        12            mild
5672       1              843  36-45          62        61            mild
6269       1              843  46-55          62        61            mild
6505       1              844  16-25          62        61            mild
5641       1              843  36-45          61        61            mild
3320       1              841  36-45          61        61            mild
3002       1              841  26-35          61        61            mild
3144       1              841  36-45          13        12            mild

      count  percentage %
5310   3849      4.126065
5902   3431      3.677976
6491   2660      2.851477
4909   1539      1.649783
6597   1393      1.493273
4351   1294      1.387147
5672   1192      1.277805
6269   1182      1.267085
6505   1159      1.242429
5641   1092      1.170606
3320   1073      1.150239
3002    976      1.046256
3144    961      1.030176
-----------------------------------------------------
       gender  main_occupation  province  economic_activity_type  place_type  \
16955       1              843        28                     494          13
13793       1              843         8                     494          13

      injury_severity  count  percentage %
16955            mild   1185      1.270301
13793            mild   1029      1.103071
-----------------------------------------------------
       gender  main_occupation  province  economic_activity_type  job_type  \
17198       1              843        28                     494        12

      injury_severity  count  percentage %
17198            mild   1037      1.111647
-----------------------------------------------------
       gender  main_occupation  province  place_type  job_type  \
12881       1              843        28          13        12
16566       1              844        28          61        61
10311       1              843         8          13        12
6698        1              841        28          61        61

      injury_severity  count  percentage %
12881            mild   1304      1.397867
16566            mild   1297      1.390363
10311            mild   1130      1.211342
6698             mild   1128      1.209198
-----------------------------------------------------
       gender  main_occupation  economic_activity_type  week_day  place_type  \
20433       1              843                     494         1          13
20715       1              843                     494         2          13
20980       1              843                     494         3          13
21469       1              843                     494         5          13
21230       1              843                     494         4          13

       job_type  count  percentage %
20433        12   1327      1.422522
20715        12   1199      1.285308
20980        12   1089      1.167390
21469        12   1050      1.125583
21230        12   1015      1.088063
-----------------------------------------------------
       gender  main_occupation  economic_activity_type  week_day  place_type  \
11136       1              843                     494         1          13
11192       1              843                     494         2          13
11254       1              843                     494         3          13
11374       1              843                     494         5          13
11315       1              843                     494         4          13

      injury_severity  count  percentage %
11136            mild   2270      2.433403
11192            mild   1967      2.108592
11254            mild   1859      1.992818
11374            mild   1834      1.966018
11315            mild   1731      1.855604
-----------------------------------------------------
       gender  main_occupation  economic_activity_type  week_day  job_type  \
11492       1              843                     494         1        12
11540       1              843                     494         2        12
11528       1              843                     494         1        61
11587       1              843                     494         3        12
11677       1              843                     494         5        12
11632       1              843                     494         4        12
11576       1              843                     494         2        61
11619       1              843                     494         3        61
11711       1              843                     494         5        61
11663       1              843                     494         4        61

      injury_severity  count  percentage %
11492            mild   1801      1.930643
11540            mild   1565      1.677654
11528            mild   1468      1.573672
11587            mild   1451      1.555448
11677            mild   1402      1.502921
11632            mild   1352      1.449322
11576            mild   1212      1.299244
11619            mild   1207      1.293884
11711            mild   1151      1.233853
11663            mild   1129      1.210270
-----------------------------------------------------
       gender  main_occupation  economic_activity_type  time_workday  \
22911       1              843                     494             2

       place_type  job_type  count  percentage %
22911          13        12   1052      1.127727
-----------------------------------------------------
       gender  main_occupation  economic_activity_type  time_workday  \
13426       1              843                     494             2
13364       1              843                     494             1
13537       1              843                     494             4
13483       1              843                     494             3
13593       1              843                     494             5
13639       1              843                     494             6
15511       1              844                     561             3

       place_type injury_severity  count  percentage %
13426          13            mild   1710      1.833092
13364          13            mild   1566      1.678726
13537          13            mild   1459      1.564024
13483          13            mild   1407      1.508281
13593          13            mild   1101      1.180254
13639          13            mild   1061      1.137375
15511          61            mild    954      1.022672
-----------------------------------------------------
       gender  main_occupation  economic_activity_type  time_workday  \
13896       1              843                     494             2
13943       1              843                     494             3
13986       1              843                     494             4
15909       1              844                     561             3
13852       1              843                     494             1
15892       1              844                     561             2
13884       1              843                     494             1

       job_type injury_severity  count  percentage %
13896        12            mild   1409      1.510425
13943        12            mild   1217      1.304604
13986        12            mild   1173      1.257437
15909        61            mild   1125      1.205982
13852        12            mild   1065      1.141663
15892        61            mild    998      1.069840
13884        61            mild    973      1.043040
-----------------------------------------------------
       gender  main_occupation  economic_activity_type  place_type  job_type  \
11563       1              843                     494          13        12
11911       1              843                     494          62        61
13435       1              844                     561          61        61
7784        1              842                     493          62        61
11870       1              843                     494          61        61
11597       1              843                     494          13        61
7763        1              842                     493          61        61
10530       1              843                     463          13        12
5900        1              841                     493          61        61
13587       1              844                     563          61        61

      injury_severity  count  percentage %
11563            mild   6000      6.431902
11911            mild   2441      2.616712
13435            mild   2363      2.533097
7784             mild   1897      2.033553
11870            mild   1765      1.892051
11597            mild   1547      1.658359
7763             mild   1410      1.511497
10530            mild   1268      1.359275
5900             mild   1150      1.232781
13587            mild   1095      1.173822
-----------------------------------------------------
      gender  main_occupation  week_day  place_type  job_type injury_severity  \
5186       1              843         1          13        12            mild
5664       1              843         2          13        12            mild
6108       1              843         3          13        12            mild
6569       1              843         4          13        12            mild
7003       1              843         5          13        12            mild
8146       1              844         5          61        61            mild

      count  percentage %
5186   2289      2.453771
5664   2038      2.184703
6108   1850      1.983170
6569   1749      1.874900
7003   1748      1.873828
8146    971      1.040896
-----------------------------------------------------
       gender  main_occupation  time_workday  place_type  job_type  \
6736        1              843             2          13        12
10047       1              844             3          61        61
7572        1              843             4          13        12
7172        1              843             3          13        12
6332        1              843             1          13        12
9940        1              844             2          61        61
7981        1              843             5          13        12
8342        1              843             6          13        12

      injury_severity  count  percentage %
6736             mild   1804      1.933859
10047            mild   1550      1.661575
7572             mild   1544      1.655143
7172             mild   1527      1.636919
6332             mild   1482      1.588680
9940             mild   1343      1.439674
7981             mild   1058      1.134159
8342             mild   1035      1.109503
-----------------------------------------------------
       gender    age  economic_activity_type  week_day  place_type  \
10687       1  36-45                     494         1          13
